# SQL Lessons

From [cours](https://stepik.org/lesson/297508) on Stepik.

In [ ]:
/* Сформулируйте SQL запрос для создания таблицы book
https://stepik.org/lesson/297508/step/7?unit=279268 */

CREATE TABLE book(
    book_id INT PRIMARY KEY AUTO_INCREMENT,
    title   VARCHAR(50),
    author  VARCHAR(30),
    price   DECIMAL(8, 2),
    amount  INT
);

In [ ]:
/* Занесите новые строки в таблицу book
https://stepik.org/lesson/297508/step/8?unit=279268
https://stepik.org/lesson/297508/step/9?unit=279268 */

INSERT INTO book (title, author, price, amount)
    VALUES  ("Мастер и Маргарита", "Булгаков М.А.", 670.99, 3),
            ("Белая гвардия", "Булгаков М.А.", 540.50, 5),
            ("Идиот", "Достоевский Ф.М.", 460.00, 10),
            ("Братья Карамазовы", "Достоевский Ф.М.", 799.01, 2)
;

In [ ]:
/* Вывести информацию о всех книгах, хранящихся на складе
https://stepik.org/lesson/297509/step/2?unit=279269 */

SELECT * FROM book;

In [ ]:
/* Выбрать авторов, название книг и их цену из таблицы book
https://stepik.org/lesson/297509/step/3?unit=279269 */

SELECT author, title, price FROM book;

In [ ]:
/* Выбрать названия книг и авторов из таблицы book
https://stepik.org/lesson/297509/step/4?unit=279269
https://stepik.org/lesson/297509/step/4?discussion=6857226&thread=solutions&unit=279269 */

SELECT
    title   AS Название,
    author  AS Автор
FROM
    book
;

In [ ]:
/* В запросе вывести название книги, ее количество и стоимость упаковки
https://stepik.org/lesson/297509/step/5?unit=279269 */

SELECT
    title,
    amount,
    amount * 1.65 AS pack
FROM book
;


/*
Query result:
+-----------------------+--------+-------+
| title                 | amount | pack  |
+-----------------------+--------+-------+
| Мастер и Маргарита    | 3      | 4.95  |
| Белая гвардия         | 5      | 8.25  |
| Идиот                 | 10     | 16.50 |
| Братья Карамазовы     | 2      | 3.30  |
| Стихотворения и поэмы | 15     | 24.75 |
+-----------------------+--------+-------+
Affected rows: 5
*/

In [ ]:
/* Написать SQL запрос, который из таблицы book выбирает названия,
авторов, количества и вычисляет новые цены книг
https://stepik.org/lesson/297509/step/6?unit=279269 */

SELECT
    title,
    author,
    amount,
    ROUND( price - price * 0.30, 2 ) AS new_price

FROM book
;

In [ ]:
/* Поднять цену книг Булгакова на 10%, а цену книг Есенина - на 5%
https://stepik.org/lesson/297509/step/7?unit=279269 */

SELECT
    author,
    title,
    ROUND(
        price + IF(author = 'Булгаков М.А.', price * 0.10,
                    IF(author = 'Есенин С.А.', price * 0.05, 0)),
        2)
        AS new_price
FROM book
;

/*
Query result:
+------------------+-----------------------+-----------+
| author           | title                 | new_price |
+------------------+-----------------------+-----------+
| Булгаков М.А.    | Мастер и Маргарита    | 738.09    |
| Булгаков М.А.    | Белая гвардия         | 594.55    |
| Достоевский Ф.М. | Идиот                 | 460.00    |
| Достоевский Ф.М. | Братья Карамазовы     | 799.01    |
| Есенин С.А.      | Стихотворения и поэмы | 682.50    |
+------------------+-----------------------+-----------+
Affected rows: 5
*/

In [ ]:
/* Вывести автора, название  и цены тех книг, количество которых меньше 10.
https://stepik.org/lesson/297509/step/8?unit=279269 */

SELECT
    author,
    title,
    price
FROM
    book
WHERE
    amount < 10
;


/*
Query result:
+------------------+--------------------+--------+
| author           | title              | price  |
+------------------+--------------------+--------+
| Булгаков М.А.    | Мастер и Маргарита | 670.99 |
| Булгаков М.А.    | Белая гвардия      | 540.50 |
| Достоевский Ф.М. | Братья Карамазовы  | 799.01 |
+------------------+--------------------+--------+
Affected rows: 3
*/

In [ ]:
/* Вывести название, автора,  цену  и количество всех книг,
цена которых меньше 500 или больше 600, а стоимость всех экземпляров
этих книг больше или равна 5000.
https://stepik.org/lesson/297509/step/9?unit=279269
https://stepik.org/lesson/297509/step/9?discussion=6905408&thread=solutions&unit=279269 */

SELECT
    title,
    author,
    price,
    amount
FROM
    book
WHERE
    (price < 500 OR price > 600)
    -- price NOT BETWEEN 500 AND 600
    AND amount * price >= 5000
;


/*
Query result:
+-----------------------+-------------+--------+--------+
| title                 | author      | price  | amount |
+-----------------------+-------------+--------+--------+
| Стихотворения и поэмы | Есенин С.А. | 650.00 | 15     |
+-----------------------+-------------+--------+--------+
Affected rows: 1
*/

In [ ]:
/* Вывести название и авторов тех книг, цены которых принадлежат интервалу
от 540.50 до 800 (включая границы),  а количество или 2, или 3, или 5, или 7.
https://stepik.org/lesson/297509/step/10?unit=279269 */

SELECT
    title,
    author
FROM
    book
WHERE
    price BETWEEN 540.50 AND 800
    AND amount IN (2, 3, 5, 7)
;


/*
Query result:
+--------------------+------------------+
| title              | author           |
+--------------------+------------------+
| Мастер и Маргарита | Булгаков М.А.    |
| Белая гвардия      | Булгаков М.А.    |
| Братья Карамазовы  | Достоевский Ф.М. |
+--------------------+------------------+
Affected rows: 3
*/

In [ ]:
/* Вывести  автора и название  книг, количество которых принадлежит
интервалу от 2 до 14 (включая границы). Информацию  отсортировать
сначала по авторам(в обратном алфавитном порядке),
а затем по названиям книг (по алфавиту).
https://stepik.org/lesson/297509/step/11?unit=279269 */

SELECT
    author,
    title
FROM
    book
WHERE
    amount BETWEEN 2 AND 14
ORDER BY
    author DESC,
    title ASC
;


/*
Query result:
+------------------+--------------------+
| author           | title              |
+------------------+--------------------+
| Достоевский Ф.М. | Братья Карамазовы  |
| Достоевский Ф.М. | Идиот              |
| Булгаков М.А.    | Белая гвардия      |
| Булгаков М.А.    | Мастер и Маргарита |
+------------------+--------------------+
Affected rows: 4
*/

In [ ]:
/* Вывести название и автора тех книг, название которых состоит из двух
и более слов, а инициалы автора содержат букву «С». Считать, что
в названии слова отделяются друг от друга пробелами и не содержат знаков
препинания, между фамилией автора и инициалами обязателен пробел,
инициалы записываются без пробела в формате: буква, точка, буква, точка.
Информацию отсортировать по названию книги в алфавитном порядке.
https://stepik.org/lesson/297509/step/12?unit=279269
https://stepik.org/lesson/297509/step/12?discussion=6913544&thread=solutions&unit=279269 */

SELECT
    title,
    author
FROM
    book
WHERE
    author LIKE '%с.%'
    AND title LIKE '_% _%'
ORDER BY
    title
;


/*
Query result:
+-----------------------+-------------+
| title                 | author      |
+-----------------------+-------------+
| Капитанская дочка     | Пушкин А.С. |
| Стихотворения и поэмы | Есенин С.А. |
+-----------------------+-------------+
Affected rows: 2
*/

In [ ]:
/* Придумайте один или несколько запросов к нашей таблице book.
Вывести название, автора, старую цену и цену с учётом скидки
для тех книг, которых осталось на складе 5 штук или более.
При этом, это не должны быть книги Сергея Есенина.
https://stepik.org/lesson/297509/step/13?unit=279269
https://stepik.org/lesson/297509/step/13?discussion=6913884&unit=279269
https://stepik.org/lesson/297509/step/13?discussion=6913893&thread=solutions&unit=279269 */

SELECT
    title,
    author,
    price AS old_price,
    ROUND(price * 1.1, 2) AS new_price
FROM
    book
WHERE
    amount >= 5
    AND author NOT LIKE 'Есенин%'
;


/*
Query result:
+---------------+------------------+-----------+-----------+
| title         | author           | old_price | new_price |
+---------------+------------------+-----------+-----------+
| Белая гвардия | Булгаков М.А.    | 540.50    | 594.55    |
| Идиот         | Достоевский Ф.М. | 460.00    | 506.00    |
+---------------+------------------+-----------+-----------+
Affected rows: 2
*/

In [ ]:
/* Отобрать различные (уникальные) элементы столбца amount таблицы book.
https://stepik.org/lesson/297515/step/2?unit=279275 */

SELECT
    DISTINCT
    amount
FROM
    book
;


/*
Query result:
+--------+
| amount |
+--------+
| 3      |
| 5      |
| 10     |
| 15     |
+--------+
Affected rows: 4
*/

In [ ]:
/* Посчитать, количество различных книг и количество экземпляров книг
каждого автора , хранящихся на складе.  Столбцы назвать Автор,
Различных_книг и Количество_экземпляров соответственно.
https://stepik.org/lesson/297515/step/3?unit=279275
Подсказка про DISTINCT
https://stepik.org/lesson/297515/step/3?discussion=3018745&unit=279275
https://stepik.org/lesson/297515/step/3?discussion=6919852&thread=solutions&unit=279275 */

SELECT
    author AS Автор,
    COUNT(DISTINCT title) AS Различных_книг,  -- иначе посчитает количество строк, даже если названия повторяются
    SUM(amount) AS Количество_экземпляров
FROM
    book
GROUP BY
    author
;


/*
Query result:
+------------------+----------------+------------------------+
| Автор            | Различных_книг | Количество_экземпляров |
+------------------+----------------+------------------------+
| Булгаков М.А.    | 2              | 8                      |
| Достоевский Ф.М. | 3              | 23                     |
| Есенин С.А.      | 1              | 15                     |
+------------------+----------------+------------------------+
Affected rows: 3
*/

In [ ]:
/* Вывести фамилию и инициалы автора, минимальную, максимальную и
среднюю цену книг каждого автора . Вычисляемые столбцы назвать
Минимальная_цена, Максимальная_цена и Средняя_цена соответственно.
https://stepik.org/lesson/297515/step/4?unit=279275 */

SELECT
    author,
    MIN(price) AS Минимальная_цена,
    MAX(price) AS Максимальная_цена,
    AVG(price) AS Средняя_цена
FROM
    book
GROUP BY
    author
;


/*
Query result:
+------------------+------------------+-------------------+--------------+
| author           | Минимальная_цена | Максимальная_цена | Средняя_цена |
+------------------+------------------+-------------------+--------------+
| Булгаков М.А.    | 540.50           | 670.99            | 605.745000   |
| Достоевский Ф.М. | 460.00           | 799.01            | 579.836667   |
| Есенин С.А.      | 650.00           | 650.00            | 650.000000   |
+------------------+------------------+-------------------+--------------+
Affected rows: 3
*/

In [ ]:
/* Для каждого автора вычислить суммарную стоимость книг
S (имя столбца Стоимость), а также вычислить налог на добавленную
стоимость  для полученных сумм (имя столбца НДС), который включен в
стоимость и составляет k = 18%,  а также стоимость книг 
(Стоимость_без_НДС) без него. Значения округлить до двух знаков
после запятой.
https://stepik.org/lesson/297515/step/5?unit=279275
https://stepik.org/lesson/297515/step/5?discussion=6920571&thread=solutions&unit=279275 */

SELECT
    author,
    ROUND(
        SUM(price * amount), 2) AS Стоимость,
    ROUND(
        (SUM(price * amount) * 0.18) / 1.18, 2) AS НДС,
    ROUND(
        SUM(price * amount) / 1.18, 2) AS Стоимость_без_НДС
FROM
    book
GROUP BY
    author
;


/*
Query result:
+------------------+-----------+---------+-------------------+
| author           | Стоимость | НДС     | Стоимость_без_НДС |
+------------------+-----------+---------+-------------------+
| Булгаков М.А.    | 4715.47   | 719.31  | 3996.16           |
| Достоевский Ф.М. | 11802.03  | 1800.31 | 10001.72          |
| Есенин С.А.      | 9750.00   | 1487.29 | 8262.71           |
+------------------+-----------+---------+-------------------+
Affected rows: 3
*/

In [ ]:
/* Для каждого автора вычислить суммарную стоимость книг
S (имя столбца Стоимость), а также вычислить налог на добавленную
стоимость  для полученных сумм (имя столбца НДС), который включен в
стоимость и составляет k = 18%,  а также стоимость книг 
(Стоимость_без_НДС) без него. Значения округлить до двух знаков
после запятой.
https://stepik.org/lesson/297515/step/5?unit=279275
https://stepik.org/lesson/297515/step/5?discussion=6920571&thread=solutions&unit=279275 */

DECLARE
    @k INT,
    @S MONEY
;

SET
    @k = 18,
    @S = (SELECT SUM(price * amount) FROM book)
;

SELECT
    author,
    @S AS Стоимость,
    ROUND((@S * (@k / 100)) / (1 + (@k / 100)), 2) AS НДС,
    ROUND(@S / (1 + (@k / 100)), 2) AS Стоимость_без_НДС
FROM
    book
GROUP BY
    author
;


/* Only one query is allowed */